## [Start] Setting "sortOrder" to default value of "0". **
$util.qr($context.args.input.put("sortOrder", $util.defaultIfNull($ctx.args.input.sortOrder, 0)))
## [End] Setting "sortOrder" to default value of "0". **
{}